<main class="p-6 flex flex-col gap-6">
    <section class="">
        <app-page-header title="الرواتب ومؤشرات الاداء" [home]="home"
            [breadcrumbItems]="breadcrumbItems"></app-page-header>
    </section>

    <section>
        <div class="flex flex-row justify-between items-center">
            <h2 class="text-text-secondary text-lg font-tajawal font-medium mb-7 flex flex-row gap-2 items-center">
                <img src="assets/icons/global/people.svg" alt="people" class="w-6 h-6" />
                كشف رواتب الموظفين
            </h2>
            <span
                class="px-2.5 py-1 rounded-[10px] text-base font-bold font-tajawal shrink-0 text-[#137FEC] bg-[#137FEC1A]">
                <span>120 موظف</span>
            </span>
        </div>
        <div class="grid grid-cols-2 gap-5">
            @for (method of paymentMethods; track method.id) {
            <div class="bg-white rounded-2xl shadow-md p-5 flex flex-col gap-4" dir="rtl">
                <div class="flex flex-row justify-between items-start">
                    <div class="flex items-start gap-4">
                        <div class="rounded-2xl w-12 h-12 flex items-center justify-center bg-[#46EC131A] shrink-0">
                            <img src="assets/icons/global/green_wallet.svg" alt="building" class="w-5 h-5" />
                        </div>
                        <div class="flex flex-col gap-1">
                            <h3 class="text-xl font-medium text-text-primary font-tajawal">
                                {{ method.name }}
                            </h3>
                            <span class="flex items-center gap-1 text-sm font-medium text-text-secondary font-tajawal">
                                {{ method.time }}
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-row gap-5">
                        <span
                            class="px-3 py-1 rounded-[20px] text-xs font-medium font-tajawal shrink-0 flex items-center gap-2 text-primary bg-[#10A9220D] border border-primary-op-30">
                            <span>بدون رسوم</span>
                        </span>
                        <button type="button" class="p-1 hover:bg-gray-100 rounded-lg transition-colors cursor-pointer">
                            <img src="assets/icons/global/menu_dots.svg" alt="more" class="w-5 h-5" />
                        </button>
                    </div>
                </div>
                <!-- Apps list -->
                @if (method.data && method.data.length > 0) {
                <div class="grid grid-cols-2 gap-2.5">
                    @for (app of method.data; track app.name) {
                    <div class="flex items-center justify-between bg-[#f7f7f7] rounded-2xl p-3">
                        <!-- Name + version -->
                        <div class="flex flex-col items-start gap-1">
                            <span class="text-[10px] font-medium text-[#5A6354] font-tajawal">
                                {{ app.name }}
                            </span>
                            <span class="text-sm font-medium text-[#151E11] font-tajawal">
                                {{ app.value }}
                            </span>
                        </div>
                    </div>
                    }
                </div>
                }
            </div>
            }
        </div>
    </section>
</main>