<!-- Table -->
<p-table #dt [value]="tableData" [responsiveLayout]="'scroll'" class="w-full text-sm">
    <ng-template pTemplate="header">
        <tr class="text-[12px] font-medium leading-[120%] p-datatable-sortable-column text-nowrap">
            <!-- <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th> -->
            <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}" class="px-4 py-3 text-left">
                <ng-container *ngIf="col.field !== 'actions'; else noSort">
                    <span>
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </span>
                </ng-container>
                <ng-template #noSort>
                    {{ col.header }}
                </ng-template>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <tr class="hover:bg-light-hover cursor-pointer transition">
            <!-- <td class="px-4 py-2" (click)="$event.stopPropagation()">
                    <p-tableCheckbox [value]="row"></p-tableCheckbox>
                </td> -->

            <td *ngFor="let col of columns" class="text-nowrap">
                @switch (col.field) {
                @case('number') {
                <div class="bg-[#EEF2FF] rounded-full w-8 h-8 flex items-center justify-center font-black">{{
                    row[col.field] }}</div>
                }
                @case('actions') {
                <div class="flex flex-row items-center gap-3">
                    <p-button icon="pi pi-eye" [rounded]="true" [text]="true"
                        [style]="{'color': 'var(--color-primary)'}" (click)="onActionClick('view', row)" />
                    <p-button icon="pi pi-ban" [rounded]="true" [text]="true" severity="help"
                        (click)="onActionClick('ban', row)" />
                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                        (click)="onActionClick('delete', row)" />
                </div>
                } @default {
                <p>{{ row[col.field] }}</p>
                } }
            </td>
        </tr>
    </ng-template>
</p-table>
<!-- 
<p-paginator [rows]="rowsPerPage" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" styleClass="mt-4"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {{showingCount}} of {totalRecords} {{ itemLabel }}"></p-paginator> -->


<!-- <div class="flex flex-row items-center justify-between mt-4">
    <p class="text-sm text-secondary-text font-manrope">
        Showing {{ showingCount }} of {{ totalRecords }} {{ itemLabel }}
    </p>
    <p-paginator [rows]="rowsPerPage" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"></p-paginator>
</div> -->