:host {
    --p-progressbar-background: #CCCCCC;
    --p-progressbar-value-background: #10A922;
    --p-progressbar-height: 10px;
    --p-progressbar-border-radius: 12px;
}
.p-progressbar {
    // position: absolute;
    // width: calc(100% - 80px);
    // top: 50px;
    // direction: ltr;
}
