:host {
  --p-accordion-header-first-top-border-radius: 16px;
  --p-accordion-header-last-bottom-border-radius: 16px;
  --p-accordion-content-background: #F6F9FD;
  --p-accordion-content-padding: 32px;
  --p-accordion-header-border-color: #3D4B360D;
  --p-accordion-header-padding: 24px
}
.p-accordionheader {
  gap: 24px;
//   background-color: black;
  border-start-start-radius: 16px;
  border-start-end-radius: 16px;
}
.p-accordionpanel {
  margin-bottom: 16px;
  border: none;
}
::ng-deep .p-accordioncontent-content {
  border-radius: 0 0 16px 16px;
  box-shadow: 1px -1px 4px 0px #00000026 inset;
}


.p-accordionpanel > .p-accordionheader {
    border-end-start-radius: var(--p-accordion-header-last-bottom-border-radius);
    border-end-end-radius: var(--p-accordion-header-last-bottom-border-radius);
}


.p-accordionpanel.p-accordionpanel-active > .p-accordionheader {
    border-end-start-radius: var(--p-accordion-header-last-active-bottom-border-radius);
    border-end-end-radius: var(--p-accordion-header-last-active-bottom-border-radius);
}