<aside class="flex h-screen w-71.75 flex-col border-l border-gray-100 bg-white py-6 overflow-auto">
    <!-- Logo -->
    <div class="mb-8 flex items-center justify-center gap-2 px-6">
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 1L30 8.5V25.5L17 33L4 25.5V8.5L17 1Z" fill="#111827" />
            <path d="M17 1L30 8.5L17 16L4 8.5L17 1Z" fill="#10B981" />
            <path d="M17 16L30 8.5V25.5L17 33V16Z" fill="#059669" />
        </svg>
        <div class="text-right leading-tight">
            <p class="text-lg font-bold text-gray-900">Sharara</p>
            <p class="text-[9px] font-semibold tracking-wide text-gray-400">
                FINANCIAL TRANSFERS<br />MANAGEMENT
            </p>
        </div>
    </div>

    <!-- Nav -->
    <nav class="flex flex-1 flex-col gap-5 px-4">
        <ng-container *ngFor="let item of navItems">
            <!-- #0D7F1A -->
            <!-- Active item *ngIf="item.active" -->
            <a [routerLink]="item.route" routerLinkActive="is-active" #rla="routerLinkActive"
                [routerLinkActiveOptions]="{ exact: false }" class="relative flex items-center  gap-3 rounded-[10px] bg-transparent p-3.75
                        border-r-3  border-transparent
                        transition-all duration-1000" [class.border-primary]="rla.isActive"
                [class.bg-primary-op-8]="rla.isActive">

                <span class="flex h-6 w-6 shrink-0 items-center justify-center">
                    <img [class.active-svg]="rla.isActive" [src]="'assets/icons/sidebar/' + item.icon"
                        [alt]="item.label" class="h-6 w-6 object-contain" />
                </span>
                <span class="text-[15px] font-semibold text-text-secondary" [class.text-text-success]="rla.isActive">
                    {{ item.label }}
                </span>

            </a>
            <!-- Regular item -->
            <!-- <a *ngIf="!item.active" [routerLink]="item.route"
                class="group flex items-center justify-between rounded-xl px-3 py-2 text-gray-500 transition-colors hover:bg-gray-50 hover:text-gray-900">
                <span class="text-[15px] font-medium">{{ item.label }}</span>

                <span class="flex h-6 w-6 shrink-0 items-center justify-center">
                    <img [src]="'assets/icons/sidebar/' + item.icon" [alt]="item.label"
                        class="h-5 w-5 object-contain" />
                </span>
            </a> -->

            <!-- <div *ngIf="!item.active" class="mx-3 my-1 border-t border-gray-100"></div> -->
        </ng-container>
    </nav>
</aside>